examples/flow.json
[
    {
        "id": "6f2396f5d5348da6",
        "type": "tab",
        "label": "Rainbird-test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7952c623ea15d4bf",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 20,
        "wires": [
            [
                "f5e34189d0bba3f8"
            ]
        ]
    },
    {
        "id": "36f589a7e54e711d",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 20,
        "wires": []
    },
    {
        "id": "8d198a16fb066059",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "5f5653fe33421798"
            ]
        ]
    },
    {
        "id": "b2f3238f88806988",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 320,
        "wires": []
    },
    {
        "id": "0b85f647f8051e6f",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 380,
        "wires": [
            [
                "6580993dae06a346"
            ]
        ]
    },
    {
        "id": "29748016a3611e97",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 380,
        "wires": []
    },
    {
        "id": "872b50d593461a89",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 540,
        "wires": []
    },
    {
        "id": "a13879f760f8bca6",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "start 1",
        "props": [
            {
                "p": "topic",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 540,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "fccc5dae66c2f433",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 780,
        "wires": [
            [
                "4ac584d3548cdf33"
            ]
        ]
    },
    {
        "id": "5220ff75afbcf60e",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 780,
        "wires": []
    },
    {
        "id": "7e6f89336f776de8",
        "type": "rainbird-delayStart",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "961e37ca26485d0f"
            ]
        ]
    },
    {
        "id": "faa3f1bbb426a8ad",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "7e6f89336f776de8"
            ]
        ]
    },
    {
        "id": "961e37ca26485d0f",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "bf95902bd5d7ee1a",
        "type": "rainbird-getDelay",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 330,
        "y": 240,
        "wires": [
            [
                "547d7042faa5b671"
            ]
        ]
    },
    {
        "id": "547d7042faa5b671",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "cb8d6762bca0b2c4",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 240,
        "wires": [
            [
                "bf95902bd5d7ee1a"
            ]
        ]
    },
    {
        "id": "a6616cbe04bf86e3",
        "type": "rainbird-startProgram",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 320,
        "y": 840,
        "wires": [
            [
                "3da76b7ddd041e2e"
            ]
        ]
    },
    {
        "id": "51a93ff1775f205c",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "a6616cbe04bf86e3"
            ]
        ]
    },
    {
        "id": "3da76b7ddd041e2e",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "f5e34189d0bba3f8",
        "type": "rainbird-info",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 330,
        "y": 20,
        "wires": [
            [
                "36f589a7e54e711d"
            ]
        ]
    },
    {
        "id": "5f5653fe33421798",
        "type": "rainbird-state",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "b2f3238f88806988"
            ]
        ]
    },
    {
        "id": "6580993dae06a346",
        "type": "rainbird-active",
        "z": "6f2396f5d5348da6",
        "name": "rainbird-active (raw)",
        "server": "61ab1f87fb82f327",
        "mode": "raw",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "29748016a3611e97"
            ]
        ]
    },
    {
        "id": "ac84d1814b7b2060",
        "type": "rainbird-startZone",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "name": "rainbird-startZone ",
        "x": 510,
        "y": 540,
        "wires": [
            [
                "872b50d593461a89"
            ]
        ]
    },
    {
        "id": "4ac584d3548cdf33",
        "type": "rainbird-stopZone",
        "z": "6f2396f5d5348da6",
        "server": "61ab1f87fb82f327",
        "x": 310,
        "y": 780,
        "wires": [
            [
                "5220ff75afbcf60e"
            ]
        ]
    },
    {
        "id": "9c738cf2c0f347ab",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "7e6f89336f776de8"
            ]
        ]
    },
    {
        "id": "f4189816590777eb",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "7e6f89336f776de8"
            ]
        ]
    },
    {
        "id": "bb146a90179df2ec",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 440,
        "wires": [
            [
                "ce0360c66117fc3e"
            ]
        ]
    },
    {
        "id": "f55cb59e06274929",
        "type": "debug",
        "z": "6f2396f5d5348da6",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 440,
        "wires": []
    },
    {
        "id": "ce0360c66117fc3e",
        "type": "rainbird-active",
        "z": "6f2396f5d5348da6",
        "name": "rainbird-active (homekit)",
        "server": "61ab1f87fb82f327",
        "mode": "homekit",
        "x": 350,
        "y": 440,
        "wires": [
            [
                "f55cb59e06274929"
            ]
        ]
    },
    {
        "id": "3143140c2dd5b794",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "Active=0 to test if it does nothing",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "1",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":0}",
        "payloadType": "json",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "d7d9e894ae6bc313",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "start 2",
        "props": [
            {
                "p": "topic",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 580,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "f9084ac68fad74a0",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "start 3",
        "props": [
            {
                "p": "topic",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "9091bf22a8beb144",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "start 4",
        "props": [
            {
                "p": "topic",
                "v": "4",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 660,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "18204290d63931d2",
        "type": "inject",
        "z": "6f2396f5d5348da6",
        "name": "start 6",
        "props": [
            {
                "p": "topic",
                "v": "6",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"Active\":1}",
        "payloadType": "json",
        "x": 130,
        "y": 700,
        "wires": [
            [
                "ac84d1814b7b2060"
            ]
        ]
    },
    {
        "id": "61ab1f87fb82f327",
        "type": "rainbird-server",
        "rainIp": "",
        "rainKey": "",
        "sname": "lnk2",
        "timeout": "6000",
        "retryCount": "3",
        "retryDelay": "1000",
        "debug": false
    }
]