examples/flow.json
[
    {
        "id": "7edbd588fb8d3c9e",
        "type": "tab",
        "label": "Rainbird-test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "227f6d040d389bbc",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 60,
        "wires": [
            [
                "995f7d2446895895"
            ]
        ]
    },
    {
        "id": "4781f5858a0a4bb0",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 34",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 60,
        "wires": []
    },
    {
        "id": "6742db6d866d9cbd",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "6a1b15724ee77dcb"
            ]
        ]
    },
    {
        "id": "179125dabb51edf0",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 35",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "c0d402ee39c7ad0b",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "4",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "876dce38f771ecb6"
            ]
        ]
    },
    {
        "id": "5fa046a60ccd019b",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 36",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 320,
        "wires": []
    },
    {
        "id": "09b312927368c7ec",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 37",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "f6b476dff4f91cc3",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "start 1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "zone",
                "v": "1",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "fcd7d0ea8a299423"
            ]
        ]
    },
    {
        "id": "718656854b619bc5",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "start 2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "zone",
                "v": "2",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 420,
        "wires": [
            [
                "fcd7d0ea8a299423"
            ]
        ]
    },
    {
        "id": "b02c32445cb546c6",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "start 3",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "zone",
                "v": "3",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 460,
        "wires": [
            [
                "fcd7d0ea8a299423"
            ]
        ]
    },
    {
        "id": "3cbf2bb47266afba",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "start 4",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "zone",
                "v": "4",
                "vt": "num"
            },
            {
                "p": "time",
                "v": "1",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "fcd7d0ea8a299423"
            ]
        ]
    },
    {
        "id": "73934173e9d57d65",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "6a162478e3cc51c2"
            ]
        ]
    },
    {
        "id": "05d47b7b9c2f6e03",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 560,
        "wires": []
    },
    {
        "id": "7d53c2bd7ca9a29c",
        "type": "rainbird-delayStart",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8a762510be115e27"
            ]
        ]
    },
    {
        "id": "d8e34c9876a63b6b",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "num",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7d53c2bd7ca9a29c"
            ]
        ]
    },
    {
        "id": "8a762510be115e27",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 43",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 120,
        "wires": []
    },
    {
        "id": "94643f5102b03edb",
        "type": "rainbird-getDelay",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 330,
        "y": 180,
        "wires": [
            [
                "b531c66709c76401"
            ]
        ]
    },
    {
        "id": "b531c66709c76401",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 44",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "4dbaaf1439170879",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "94643f5102b03edb"
            ]
        ]
    },
    {
        "id": "c1860e9eadf1502b",
        "type": "rainbird-startProgram",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 340,
        "y": 620,
        "wires": [
            [
                "df52f36e974182da"
            ]
        ]
    },
    {
        "id": "f7e3053cf176352d",
        "type": "inject",
        "z": "7edbd588fb8d3c9e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "num",
        "x": 130,
        "y": 620,
        "wires": [
            [
                "c1860e9eadf1502b"
            ]
        ]
    },
    {
        "id": "df52f36e974182da",
        "type": "debug",
        "z": "7edbd588fb8d3c9e",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "995f7d2446895895",
        "type": "rainbird-info",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 330,
        "y": 60,
        "wires": [
            [
                "4781f5858a0a4bb0"
            ]
        ]
    },
    {
        "id": "6a1b15724ee77dcb",
        "type": "rainbird-state",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 320,
        "y": 260,
        "wires": [
            [
                "179125dabb51edf0"
            ]
        ]
    },
    {
        "id": "876dce38f771ecb6",
        "type": "rainbird-active",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 320,
        "y": 320,
        "wires": [
            [
                "5fa046a60ccd019b"
            ]
        ]
    },
    {
        "id": "fcd7d0ea8a299423",
        "type": "rainbird-startZone",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 330,
        "y": 420,
        "wires": [
            [
                "09b312927368c7ec"
            ]
        ]
    },
    {
        "id": "6a162478e3cc51c2",
        "type": "rainbird-stopZone",
        "z": "7edbd588fb8d3c9e",
        "server": "ec56b0cd708ae47a",
        "x": 330,
        "y": 560,
        "wires": [
            [
                "05d47b7b9c2f6e03"
            ]
        ]
    },
    {
        "id": "ec56b0cd708ae47a",
        "type": "rainbird-server",
        "rainIp": "",
        "rainKey": "",
        "sname": "lnk2"
    }
]
